%header#header
	%ul
		%li
			%g:link(controller='home' action='home')
				Home
		%li
			%g:link(controller='activity' action='list')
				Activities
		%li
			%g:link(controller='location' action='list')
				Locations
		%li
			%g:link(controller='tool' action='list')
				Tools
		%li
			%g:link(controller='user' action='list')
				Users
		%li(style="float:right")
			%g:link(controller='home' action='grails')
				Grails
		%li(style="float:right")
			%g:link(controller='logout')
				Logout
				%sec:username/