!!! 5
%html
	%head
		%title
			%g:layoutTitle(default='No Title')
		%g:layoutHead/
		<%--%link(rel="stylesheet" href="${resource(dir: 'css', file: 'main.css')}" type="text/css")--%>
		%g:javascript(library='jquery')/
		%r:require(module='cpt')/
		%r:layoutResources/
	%body
		%g:if(test='${flash.message}')
			#flash.ui-widget.ui-state-highlight ${flash.message}
		%sec:ifNotLoggedIn
			<%-- todo --%>
		%sec:ifLoggedIn
			%g:if(test="${org.codehaus.groovy.grails.plugins.springsecurity.SpringSecurityUtils.ifAnyGranted('ROLE_ADMIN')}")
				%g:render(template='/layouts/admin')
			%g:elseif(test="${org.codehaus.groovy.grails.plugins.springsecurity.SpringSecurityUtils.ifAnyGranted('ROLE_USER')}")
				%g:render(template='/layouts/user')
		%g:layoutBody/
		%r:layoutResources/