
# ignore these work files created by latex
SRD/SRD.aux
#SRD/SRD.log
SRD/SRD.out
SRD/SRD.toc
SRD/SRD.xdy

# ignore these work files created by latex
SDD/SDD.aux
#SDD/SDD.log
SDD/SDD.out
SDD/SDD.toc
SDD/SdD.xdy


.*
#all hidden files
!.gitignore


