!!! 5
%html
	%head
		%g:set(var="className" value="activity")/
		%g:set(var="entityName" value="${message(code: className+'.label')}")/
		%title
			%g:message(code="default.create.label" args="[entityName]")/
	%body
		.subnav
			%ul
				%li
					%g:link.jq-button(controller='activity' action='list')
						%g:message(code="activity.labels")/
				%li
					%g:link.jq-button(controller='location' action='list')
						%g:message(code="location.labels")/
				%li
					%g:link.jq-button(controller='tool' action='list')
						%g:message(code="tool.labels")/
				%li
					%g:link.jq-button.jq-active-button(action='create')
						%g:message(code="default.new.label" args="[entityName]")/
		.main
			%h1.ui-widget-header.ui-corner-all
				%g:message(code="default.create.label" args="[entityName]")/
			%cpt:errors(bean="${instance}")
			%g:form.ui-widget.ui-widget-content.ui-corner-all(action="create")
				%fieldset.table
					.row.required(class="${hasErrors(bean: instance, 'error')}")
						.cell
							%label(for="names")
								Names
								%br/
								(one per line)
						.cell
							.required-indicator *
						.cell
							%g:textArea(name="names" required="" value="${names}")/
				%cpt:fieldsetCreate/
