!!! 5
%html
	%head
		%g:set(var="entityName" value="${message(code: 'activity.label')}")/
		%title
			%g:message(code="default.create.label" args="[entityName]")/
	%body
		.subnav
			%ul
				%li
					%g:link.jq-button(action='list')
						%g:message(code="default.list.label" args="[entityName]")/
				%li
					%g:link.jq-button.jq-active-button(action='create')
						%g:message(code="default.new.label" args="[entityName]")/
		.main
			%h1.ui-widget-header.ui-corner-all
				%g:message(code="default.create.label" args="[entityName]")/
			%cpt:errors(bean="${instance}")
			%g:form.ui-widget.ui-widget-content.ui-corner-all(action="create")
				%fieldset.table
					.row.required(class="${hasErrors(bean: instance, 'error')}")
						.cell
							%label(for="names")
								Names
								%br/
								(one per line)
						.cell
							.required-indicator *
						.cell
							%g:textArea(name="names" required="" value="${names}")/
				%cpt:fieldsetCreate/
