!!! 5
%html
	%head
		%g:set(var="entityName" value="${message(code: 'activity.label', default: 'Activity')}")/
		%title
			%g:message(code="default.create.label" args="[entityName]")/
	%body
		#create-activity.content.scaffold-create(role="main")
			%h1.ui-widget-header.ui-corner-all
				%g:message(code="default.create.label" args="[entityName]")/
			%cpt:errors(bean="${activityInstance}")
			%g:form(action="save")
				%fieldset(class="form")
					%g:render(template="form")/
				%cpt:fieldsetCreate/
