!!! 5
%html
	%head
		%g:set(var="className" value="user")/
		%g:set(var="entityName" value="${message(code: className+'.label')}")/
		%title
			Reset password for ${instance.username}
	%body
		.subnav
			%ul
				%li
					%g:link.jq-button(controller='worker' action='list')
						%g:message(code="worker.labels")/
				%li
					%g:link.jq-button.jq-active-button(controller='user' action='list')
						%g:message(code="user.labels")/
				%li
					%g:link.jq-button(action='create')
						%g:message(code="default.new.label" args="[entityName]")/
		.main
			%h1.ui-widget-header.ui-corner-all
				Reset Password
			%cpt:errors(bean="${instance}")
			%g:form.ui-widget.ui-widget-content.ui-corner-all(action="resetPassword" id="${instance.id}")
				%g:hiddenField(name="id" value="${instance?.id}")/
				%g:hiddenField(name="version" value="${instance?.version}")/
				%fieldset.table
					.row
						.cell
							%label
								%g:message(code="user.username.label" default="Username")/
						.cell
						.cell
							%div
								%g:fieldValue(bean="${instance}" field="username")/
					.row.required(class="${hasErrors(bean: instance, field: 'password', 'error')}")
						.cell
							%label(for="password")
								%g:message(code="user.password.label" default="Password")/
						.cell
							.required-indicator *
						.cell
							%g:passwordField(name="password" required="")/
					.row.required
						.cell
							%label(for="password2")
								Retype
								%g:message(code="user.password.label" default="Password")/
						.cell
							.required-indicator *
						.cell
							%input(type="password" id="password2" name="password2" required="")/
				%fieldset.buttons
					%input.jq-button(type='submit' value='Reset Password')/