!!! 5
%html
	%head
		%g:set(var="entityName" value="${message(code: 'user.label', default: 'User')}")/
		%title
			%g:message(code="default.show.label" args="[entityName]")/
	%body
		.subnav
			%ul
				%li
					%g:link.jq-button(action='list')
						%g:message(code="default.list.label" args="[entityName]")/
				%li
					%g:link.jq-button(mapping='user_create')
						%g:message(code="default.new.label" args="[entityName]")/
		.main
			%h1.ui-widget-header.ui-corner-all
				%g:message(code="default.show.label" args="[entityName]")/
			%cpt:errors(bean="${instance}")
			.ui-widget.ui-widget-content.ui-corner-all
				%ul.table
					%li.row
						.cell
							%label
								%g:message(code="user.username.label" default="Username")/
						.cell.r
							%div
								%g:fieldValue(bean="${instance}" field="username")/
					%li.row
						.cell
							%label
								%g:message(code="user.type.label" default="Type")/
						.cell.r
							%div
								%g:fieldValue(bean="${instance}" field="type")/
				.buttons
					%button.jq-button(onclick="location.href='${createLink(action: 'resetPassword', id: instance.id)}'")
						Reset Password