!!! 5
%html
	%head
		%g:set(var="entityName" value="${message(code: 'tool.label', default: 'Tool')}")/
		%title
			%g:message(code='default.list.label' args='[entityName]')/
	%body
		.content.scaffold-list(role="main")
			%h1.ui-widget-header.ui-corner-all
				%g:message(code="default.list.label" args="[entityName]")/
			%table.list.ui-widget.ui-widget-content.ui-corner-all
				%thead
					%tr
						%g:sortableColumn(property="name" title="${message(code: 'tool.name.label', default: 'Name')}")/
				%tbody
					%g:each(in="${toolInstanceList}" status="i" var="toolInstance")
						%tr(class="${(i % 2) == 0 ? 'even' : 'odd'}")
							%td
								%g:link(action="show" id="${toolInstance.id}") ${fieldValue(bean: toolInstance, field: "name")}
			%div(class="pagination")
				%g:paginate(total="${toolInstanceTotal}")/

		%div(style="padding-top:1em;")
			%button.jq-button(onclick="location.href='${createLink(action: 'create')}'")
				%g:message(code="default.new.label" args="[entityName]")/