!!! 5
%html
	%head
		%g:set(var="className" value="tool")/
		%g:set(var="entityName" value="${message(code: className+'.label')}")/
		%title
			%g:message(code='default.list.label' args='[entityName]')/
	%body
		.subnav
			%ul
				%li
					%g:link.jq-button(controller='activity' action='list')
						%g:message(code="activity.labels")/
				%li
					%g:link.jq-button(controller='location' action='list')
						%g:message(code="location.labels")/
				%li
					%g:link.jq-button.jq-active-button(controller='tool' action='list')
						%g:message(code="tool.labels")/
				%li
					%g:link.jq-button(action='create')
						%g:message(code="default.new.label" args="[entityName]")/
		.main
			%table.list.ui-widget.ui-widget-content.ui-corner-all
				%thead
					%tr
						%g:sortableColumn(property="name" title="${message(code: className+'.name.label', default: 'Name')}")/
				%tbody
					%g:each(in="${list}" status="i" var="instance")
						%tr(class="${(i % 2) == 0 ? 'even' : 'odd'}")
							%td
								%g:link(action="show" id="${instance.id}") ${fieldValue(bean: instance, field: "name")}
			%div(class="pagination")
				%g:paginate(total="${total}" maxsteps="${params.maxsteps}")/