!!! 5
%html
	%head
		%g:set(var="entityName" value="${message(code: 'location.label', default: 'Location')}")/
		%title
			%g:message(code="default.create.label" args="[entityName]")/
	%body
		.nav(role="navigation")
			%ul
				%li
					%a(class="home" href="${createLink(uri: '/')}")
						%g:message(code="default.home.label")/
				%li
					%g:link(class="list" action="list")
						%g:message(code="default.list.label" args="[entityName]")/
		#create-location.content.scaffold-create(role="main")
			%h1
				%g:message(code="default.create.label" args="[entityName]")/
			%cpt:errors(bean="${locationInstance}")
			%g:form(action="save")
				%fieldset(class="form")
					%g:render(template="form")/
				%cpt:fieldsetCreate/
