!!! 5
%html
	%head
		%g:set(var="entityName" value="${message(code: 'location.label', default: 'Location')}")/
		%title
			%g:message(code='default.show.label' args='[entityName]')/
	%body
		.subnav
			%ul
				%li
					%g:link.jq-button(action='list')
						%g:message(code="default.list.label" args="[entityName]")/
				%li
					%g:link.jq-button.jq-active-button(action='create')
						%g:message(code="default.new.label" args="[entityName]")/
		.main
			%h1.ui-widget-header.ui-corner-all
				%g:message(code="default.show.label" args="[entityName]")/
			%cpt:errors(bean="${instance}")
			%g:form.ui-widget.ui-widget-content.ui-corner-all(action="show" id="${instance.id}" class="${instance?.errors.hasErrors() ? 'write' : 'read'}")
				%g:hiddenField(name="id" value="${instance?.id}")/
				%g:hiddenField(name="version" value="${instance?.version}")/
				%fieldset.table
					.row
						.cell
							%label(for="name")
								%g:message(code="location.name.label" default="Name")/
								%span(class="required-indicator") *
						.cell.r
							%g:fieldValue(bean="${instance}" field="name")/
						.cell.w
							%g:textField(name="name" required="" value="${instance?.name}")/
				.buttons
					%cpt:rwButton/
					%g:submitButton.jq-button.w(name="update" value="${message(code: 'default.button.update.label', default: 'Update')}")/
					%cpt:deleteButton/
