!!! 5
%html
	%head
		%g:set(var="entityName" value="${message(code: 'location.label', default: 'Location')}")/
		%title
			%g:message(code='default.show.label' args='[entityName]')/
	%body
		#show-location.content.scaffold-show(role="main")
			%h1.ui-widget-header.ui-corner-all
				%g:message(code="default.show.label" args="[entityName]")/
			%ol(class="property-list location")
				%g:if(test="${locationInstance?.name}")
					%li(class="fieldcontain")
						%span(id="name-label" class="property-label")
							%g:message(code="location.name.label" default="Name")/
						%span(class="property-value" aria-labelledby="name-label")
							%g:fieldValue(bean="${locationInstance}" field="name")/
			%g:form
				%fieldset(class="buttons")
					%g:hiddenField(name="id" value="${locationInstance?.id}")/
					%g:actionSubmit(class="delete jq-button" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');")/
