!!! 5
%html
	%head
		%g:set(var="entityName" value="${message(code: 'location.label', default: 'Location')}")/
		%title
			%g:message(code='default.show.label' args='[entityName]')/
	%body
		.nav(role="navigation")
			%ul
				%li
					%a(class="home" href="${createLink(uri: '/')}")
						%g:message(code="default.home.label")/
				%li
					%g:link(class="list" action="list")
						%g:message(code="default.list.label" args="[entityName]")/
				%li
					%g:link(class="create" action="create")
						%g:message(code="default.new.label" args="[entityName]")/
		#show-location.content.scaffold-show(role="main")
			%h1
				%g:message(code="default.show.label" args="[entityName]")/
			%ol(class="property-list location")
				%g:if(test="${locationInstance?.name}")
					%li(class="fieldcontain")
						%span(id="name-label" class="property-label")
							%g:message(code="location.name.label" default="Name")/
						%span(class="property-value" aria-labelledby="name-label")
							%g:fieldValue(bean="${locationInstance}" field="name")/
			%g:form
				%fieldset(class="buttons")
					%g:hiddenField(name="id" value="${locationInstance?.id}")/
					%g:link(class="edit" action="edit" id="${locationInstance?.id}")
						%g:message(code="default.button.edit.label" default="Edit")/
					%g:actionSubmit(class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');")/
