body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12pt;
}

ul {
	margin: 0;
/*	padding: 0;
	list-style-type: none;*/
}

fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

.table {display:table; border-spacing:1em;}
.row {display:table-row}
.cell {display:table-cell}

#header.ui-tabs {
	padding: 0;
}

#header.ui-tabs ul {
	padding-left: 1em;
}

#header.ui-tabs a {
	cursor: pointer;
}

.ui-widget-header {
	font-weight: normal;
}

.ui-state-error {
	padding: .5em;
	margin-bottom: 1em;
}

.ui-state-highlight {
	padding: .5em;
	margin-bottom: 1em;
}

h1 {
	font-size: 2em;
	margin: 0;
	margin-bottom: .5em;
	padding: .125em;
	padding-left: .25em;
}

table.list {
	width: 100%;
	border-spacing: 0;
}

table.list th,
table.list td {
	padding: .5em;
	text-align: left;
}

table.list thead tr {
	background-color: #bbb;
}

table.list tr.odd {
	background-color: #eee;
}

.pagination {
	text-align: center;
	padding: .5em;
}

.pagination a, .pagination .currentStep {
	display: inline-block;
	padding: .25em .5em;
	text-decoration: none;
	color: black;
}

.pagination .currentStep {
	border: 1px solid black;
}

.pagination a:hover, .pagination a:focus {
	text-decoration: underline;
}

.buttons {
	border:none;
	margin: 0 1em 1em 1em;
}

.error input, .error select, .error textarea{
	border-color: red;
}